body {
    background-color: var(--root-bg-clr);
    color: var(--root-fg-clr);
    font-family: var(--base-font);
    margin-bottom: 40px;
}

a {
    color : var(--primary-hl-clr);
}

h1 {
    font-weight: bolder;
    font-size: var(--fs-h1);
    margin-top: 15px;
    color: var(--root-fg-clr);
}

h2 {
    font-weight: bold;
    font-size: var(--fs-h2);
    margin-top: 10px;
    color: var(--root-fg-clr);
}

h3 {
    font-weight: bold;
    font-size: var(--fs-h3);
    margin-top: 10px;
    color: var(--root-fg-clr);
}

h4 {
    font-weight: bold;
    font-size: var(--fs-h4);
    margin-top: 10px;
    color: var(--root-fg-clr);
}

p {
    font-size: var(--fs-text);
    margin: 20px 0;
}

hr {
    width: 100%;
}

input {
    border-radius: var(--box-border-radius);
}

code {
    color: var(--primary-hl-clr);
    background-color: hsl(213, 30%, 15%);
    border-radius: 50px;
    padding: 2px 8px;
    font-family: "Fira Code", monospace;
}

textarea {
    tab-size: 4;
    -moz-tab-size: 4;
    border-radius: var(--box-border-radius);
}

icon {
    font-family: "Material Symbols Outlined";
    font-size: var(--icon-big);
    font-variation-settings: 'FILL' 1, 'wght' 400;
}

spacer {
    width: 2em;
    display: inline-block;
}

.content {
    margin: auto;
    padding: 40px 40px 10px 40px;
    width: 75%;
    color: var(--root-txt-clr);
}

/* Used only on search page */
.content.mainpage {
    padding: 0 40px;
    color: var(--root-txt-clr);
}

.content pre code {
    tab-size: 4;
    -moz-tab-size: 4;
}

.inline-code {
    display: inline;
    margin: 0;
    padding: 0;
}

.code-inline {
    display: inline;
    background: #1E1E1E;
    color: #DCDCDC;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.col {
    display: flex;
    height: 100%;
    flex-direction: column;
}