#page-form input,
#edit-form input,
#login-form input {
    background-color: var(--box-overlay-clr);
    border: 1px solid var(--box-overlay-border-clr);
    border-radius: var(--box-border-radius);
    color: var(--root-fg-clr);
}

#page-form select,
#edit-form select,
#login-form select {
    background-color: var(--box-overlay-clr);
    border: 1px solid var(--box-overlay-border-clr);
    border-radius: var(--box-border-radius);
    color: var(--root-fg-clr);
}

#page-form textarea,
#edit-form textarea,
#login-form textarea {
    background-color: var(--box-overlay-clr);
    border: 1px solid var(--box-overlay-border-clr);
    border-radius: var(--box-border-radius);
    color: var(--root-fg-clr);
}

#page-form #editor-files input,
#edit-form #editor-files input,
#login-form #editor-files input {
    background-color: #0b1215;
    border: none;
    border-radius: var(--box-border-radius);
    color: var(--root-fg-clr);
}

#page-form #editor-files input button,
#edit-form #editor-files input button,
#login-form #editor-files input button {
    background-color: var(--box-overlay-border-clr);
    border: 1px solid var(--box-overlay-clr);
    border-radius: var(--box-border-radius);
    color: var(--root-fg-clr);
}

#login-form input,
#login-form select,
#login-form textarea,
#login-form #editor-files input,
#login-form #editor-files input button {
    color: white;
}

.input-group {
    display: flex;
    align-items: stretch;
    gap: 0;
    width: 100%;
}

.input-group input {
    flex-grow: 1;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
}

.input-group button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background-color: var(--box-overlay-clr);
    border: 1px solid var(--box-overlay-border-clr);
    border-radius: var(--box-border-radius);
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
    color: white;
    cursor: pointer;
}

.input-group button icon {
    font-size: 1.5rem;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding-left: 2rem;
    cursor: pointer;
    color: var(--root-fg-clr);
    line-height: 1.5;
}

.custom-control-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.15rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
    background-color: var(--box-overlay-clr);
    border: 1px solid var(--box-overlay-border-clr);
    border-radius: var(--box-border-radius);
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.custom-control-label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.15rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: no-repeat 50% / 50% 50%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    opacity: 0;
    transition: opacity 0.1s;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--box-overlay-border-clr);
    border-color: var(--box-overlay-border-clr);
}

.custom-control-input:checked ~ .custom-control-label::after {
    opacity: 1;
}

.custom-control-input:focus ~ .custom-control-label::before {
    border-color: white;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: var(--box-overlay-border-clr);
    opacity: 0.8;
}