:root {
    /* ROOT CLRS */
    --root-bg-clr: hsl(201, 100%, 9%);
    --root-fg-clr: white;
    --root-ul-sd-clr: gray;

    /* PRIMARY CLRS */
    --primary-boxbg-clr: hsl(201, 100%, 12%);
    --primary-boxfg-clr: hsl(201, 100%, 15%);
    --primary-sd-clr: hsl(201, 100%, 10%);
    --primary-bg-clr: hsl(201, 100%, 19%);
    --primary-fg-clr: hsl(201, 100%, 32%);
    --primary-hl-clr: hsl(201, 100%, 64%);

    /* SECONDARY CLRS */
    --secondary-sd-clr: hsl(320, 100%, 10%);
    --secondary-bg-clr: hsl(320, 100%, 19%);
    --secondary-fg-clr: hsl(320, 100%, 32%);
    --secondary-hl-clr: hsl(320, 100%, 64%);

    /* TRIETARY CLRS */
    --trietary-sd-clr: hsl(192, 100%, 10%);
    --trietary-bg-clr: hsl(192, 100%, 19%);
    --trietary-fg-clr: hsl(192, 100%, 32%);
    --trietary-hl-clr: hsl(192, 100%, 64%);

    /* FONT SIZES */
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-hinput: 1.3rem;

    --fs-text: 1rem;
    --fs-footer: 0.8rem;

    --icon-big: 2.5rem;
    --icon-small: 1.8rem;

    /* UNDERLINE STYLES */
    --ul-dotted: linear-gradient(to right, var(--root-ul-sd-clr) 1px, transparent 1px);


}

body {
    background-color: var(--root-bg-clr);
    color: var(--root-fg-clr);
    font-family: "Raleway";
}

h1 {
    font-weight: bolder;
    font-size: var(--fs-h1);
}

h2 {
    font-weight: bold;
    font-size: var(--fs-h2);
}

p {
    font-size: var(--fs-text);
}

hr {
    width: 100%;
}

.content {
    margin: auto;
    padding: 40px 40px 10px 40px;
    width: 70%;
}

code {
    color: var(--secondary-hl-clr);
    background-color: var(--primary-boxbg-clr);
    border: 1px solid var(--primary-boxfg-clr);
    padding: 1px 2px;
    font-family: "Fira Code", monospace;
}

icon {
    font-family: "Material Symbols Outlined";
    font-size: var(--icon-big);
}

.navbar {
    height: 65px;
    width: 100%;
}

.search {
    display: flex;
    margin: auto;
    height: 100%;
    width: 65%;
    border: 2px solid var(--primary-boxfg-clr);
    background-color: var(--primary-boxbg-clr);
    border-radius: 40px;
    vertical-align: middle;
    padding: 0 20px;
    align-items: center;
}

.search icon {
    display: flex;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--icon-small);
}

.search input {
    width: 100%;
    border: none;
    height: 40%;
    background-color: var(--primary-boxbg-clr);
    color: white;
    padding: 10px;
    margin: 0 5px;
    font-size: var(--fs-hinput);
    vertical-align: middle;
}

.search input:focus {
    outline: none;
    color: var(--root-fg-clr);
}

#page-form input {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: var(--root-fg-clr);
}

#page-form select {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: var(--root-fg-clr);
}

#page-form textarea {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: var(--root-fg-clr);
}

#page-form #editor-files input {
    background-color: #0b1215;
    border: none;
    color: var(--root-fg-clr);
}

#page-form #editor-files input button {
    background-color: hsl(198, 31%, 18%);
    border: 1px solid hsl(198, 31%, 12%);
    color: var(--root-fg-clr);
}

.dev-disclamer {
    padding: 0.6em;
    margin: 1em auto;
    width: 65%;
    background-color: var(--secondary-bg-clr);
    border: 2px none;
    border-left: 4px solid var(--secondary-fg-clr);
    border-radius: 5px;
}
.dev-message {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem 0 1rem;
    margin: 0;
}
.dev-message > icon {
    flex-shrink: 0;
}

.dev-message > p {
    flex-grow: 1;
    margin: 0;
    font-weight: bold;
}

.ver-tag {
    color: var(--secondary-hl-clr);
    margin: 0;
    padding: 5px;
    font-size: var(--fs-footer);
}

.admin-controls {
    background-color: hsl(198, 31%, 12%);
    border: none;
    border-radius: 10px;
    color: var(--root-fg-clr);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    margin: 5px 10px;
}

.btn-admin {
    background-color: hsl(198, 31%, 18%);
}

#edit-form input {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: var(--root-fg-clr);
}

#edit-form select {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: var(--root-fg-clr);
}

#edit-form textarea {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: var(--root-fg-clr);
}

#edit-form #editor-files input {
    background-color: #0b1215;
    border: none;
    color: var(--root-fg-clr);
}

#edit-form #editor-files input button {
    background-color: hsl(198, 31%, 18%);
    border: 1px solid hsl(198, 31%, 12%);
    color: var(--root-fg-clr);
}

.hint {
    position: relative;
    cursor: help;
    text-decoration: none;
    background-image: var(--ul-dotted);
    background-size: 3px 1px;
    background-position: 0 100%;
    background-repeat: repeat-x;
}

.hint .hint-content {
    /* This respects your line breaks */
    white-space: pre-wrap;

    /* Sizing and position */
    position: absolute;
    z-index: 10;
    bottom: 100%; /* Position it to start at the top of the text */
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;

    /* Styling */
    width: max-content;
    max-width: 70vw;
    background-color: var(--primary-boxbg-clr);
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: var(--fs-footer);
    text-align: left;

    /* Hide it by default */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease, visibility 0s 0.2s;
}

.hint .hint-content a {
    color: var(--primary-hl-clr);
}

.hint .hint-content::before {
    content: "";
    position: absolute;
    top: 100%; /* Start at the bottom of the tooltip */
    left: 0;
    width: 100%;
    height: 5px; /* Must match the margin-bottom above */
}

.hint:hover .hint-content,
.hint .hint-content:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition-delay: 0s;
}

textarea {
    tab-size: 4;
    -moz-tab-size: 4; /* Fix for older Firefox versions */
}

/* This targets the code blocks on your public pages */
.content pre code {
    tab-size: 4;
    -moz-tab-size: 4; /* Fix for older Firefox versions */
}

#login-form input {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: white;
}

#login-form select {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: white;
}

#login-form textarea {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: white;
}

#login-form #editor-files input {
    background-color: #0b1215;
    border: none;
    color: white;
}

#login-form #editor-files input button {
    background-color: hsl(198, 31%, 18%);
    border: 1px solid hsl(198, 31%, 12%);
    color: white;
}

#search-results a {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: white;
}

#search-results select {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: white;
}

#search-results textarea {
    background-color: hsl(198, 31%, 12%);
    border: 1px solid hsl(198, 31%, 18%);
    color: white;
}

#search-results #editor-files input {
    background-color: #0b1215;
    border: none;
    color: white;
}

#search-results #editor-files input button {
    background-color: hsl(198, 31%, 18%);
    border: 1px solid hsl(198, 31%, 12%);
    color: white;
}

.inline-code {
    display: inline;
    margin: 0;
    padding: 0;
}

.code-inline {
    display: inline; /* This is the most important part */

    /* These should match your vs2015 theme */
    background: #1E1E1E;
    color: #DCDCDC;

    /* Resets to make it flow */
    margin: 0;
    padding: 0;
}

.info-disclamer {
    padding: 0.6em;
    margin: 1em auto;
    width: 65%;
    background-color: var(--trietary-bg-clr);
    border: 2px none;
    border-left: 4px solid var(--trietary-fg-clr);
    border-radius: 5px;
}
.info-message {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
    margin: 0;
}
.info-message > icon {
    flex-shrink: 0;
}

.info-message > p {
    flex-grow: 1;
    margin: 0;
    font-weight: bold;
}

.info-message a {
    color: var(--trietary-hl-clr);
}

#button-bar {
    margin: 0 1vw;
}